<div id="sponsor">
  <div class="title-section">
    <div class="inner-section">
      <img id="cloud4" class="cloud" src="../../assets//images/building-blocks/cloud4.png">
      <img id="cloud3" class="cloud" src="../../assets//images/building-blocks/cloud3.png">
      <img id="cloud2" class="cloud" src="../../assets//images/building-blocks/cloud2.png">
      <img id="cloud1" class="cloud" src="../../assets//images/building-blocks/cloud1.png">

      <div class="sponsor-title">WELCOME POTENTIAL<div class="sponsor">SPONSORS</div></div>
      <div class="sponsor-btn">
        Interested in Sponsoring?
      </div>
    </div>
    <div class="stats">
      <img id="robot" class="robot" src="../../assets/images/building-blocks/desktop_robo.png">
    </div>
  </div>

  <div class="benefits-section">
    <div class="subtitle">BENEFITS</div>
    <div class="benefits-grid">
      <div class="benefit-box">
        <img class="sponsor-icon" src="../../assets/images/sponsor-icons/users-solid.png">
        <div class="subtitle benefit-subtitle">RECRUITING</div>
        <div class="benefit-description">Partnering with a hackathon will not only give you a direct access to recruit innovative hackers in Southern California, but you will also be able to interview and contact attendees after the event.</div>
      </div>
      <div class="benefit-box">
        <img class="sponsor-icon" src="../../assets/images/sponsor-icons/handshake-solid.png">
        <div class="subtitle benefit-subtitle">FORM RELATIONSHIPS</div>
        <div class="benefit-description">Assisting hackers with your APIs, products, and services fosters relationships with participants. Some of them might well be technology leaders of the future. Let them get to know you as the company that makes the best first impression.</div>
      </div>
      <div class="benefit-box">
        <img class="sponsor-icon" src="../../assets/images/sponsor-icons/globe-solid.png">
        <div class="subtitle benefit-subtitle">BRANDING</div>
        <div class="benefit-description">We partner with valued brands to help meet their needs in brand marketing and outreach. We'll work with you to appeal to our audience in an authentic and impactful way.</div>
      </div>
      <div class="benefit-box">
        <img class="sponsor-icon" src="../../assets/images/sponsor-icons/info-circle-solid.png">
        <div class="subtitle benefit-subtitle">MORE INFO</div>
        <div class="benefit-description">If you want more information, check out our
            <a
              class="dark-purple-text"
              id="sponsorship-packet"
              target="_blank"
              href="https://hackuci-2020-prod.s3-us-west-1.amazonaws.com/2019-2020-Sponsorship-Packet.pdf"
              >sponsorship packet</a
            >.</div>
      </div>
    </div>
  </div>

  <div class="partner-section">
    <section id="sponsors" class="center">
      <div id="sponsors-content">
        <div class="subtitle">PAST SPONSORS</div><br/>
        <div id="sponsors-list" class="ui grid">
          <div
            class="sixteen wide phone eight wide tablet four wide computer column"
          >
            <a href="https://www.ics.uci.edu/" target="_blank">
              <img src="../assets/images/sponsors/ucibren.png" />
            </a>
          </div>
          <div
            class="sixteen wide phone eight wide tablet four wide computer column"
          >
            <a href="https://sendgrid.com/" target="_blank">
              <img src="../assets/images/sponsors/sendgrid.png" />
            </a>
          </div>
          <div
            class="sixteen wide phone eight wide tablet four wide computer column"
          >
            <a href="http://www.northropgrumman.com/" target="_blank">
              <img src="../assets/images/sponsors/northrop.png" />
            </a>
          </div>
          <div
            class="sixteen wide phone eight wide tablet four wide computer column"
          >
            <a href="https://github.com/" target="_blank">
              <img src="../assets/images/sponsors/github.png" />
            </a>
          </div>
          <div
            class="sixteen wide phone eight wide tablet four wide computer column"
          >
            <a href="https://surcle.io/" target="_blank">
              <img src="../assets/images/sponsors/surcle.png" />
            </a>
          </div>
          <div
            class="sixteen wide phone eight wide tablet four wide computer column"
          >
            <a href="https://www.gigabyte.com/" target="_blank">
              <img src="../assets/images/sponsors/gigabyte.png" />
            </a>
          </div>
          <div
            class="sixteen wide phone eight wide tablet four wide computer column"
          >
            <a href="https://github.com/ArdentLabs" target="_blank">
              <img src="../assets/images/sponsors/ardent.png" />
            </a>
          </div>
          <div
            class="sixteen wide phone eight wide tablet four wide computer column"
          >
            <a href="https://www.microsoft.com/en-us/" target="_blank">
              <img src="../assets/images/sponsors/microsoft.png" />
            </a>
          </div>
          <div
            class="sixteen wide phone eight wide tablet four wide computer column"
          >
            <a href="https://www.sketchapp.com/" target="_blank">
              <img src="../assets/images/sponsors/sketch.png" />
            </a>
          </div>
          <div
            class="sixteen wide phone eight wide tablet four wide computer column"
          >
            <a
              href="https://www.stickermule.com/supports/hackathons"
              target="_blank"
            >
              <img src="../assets/images/sponsors/stickermule.png" />
            </a>
          </div>
          <div
            class="sixteen wide phone eight wide tablet four wide computer column"
          >
            <a href="https://get.tech/" target="_blank">
              <img src="../assets/images/sponsors/tech.png" />
            </a>
          </div>
          <div
            class="sixteen wide phone eight wide tablet four wide computer column"
          >
            <a href="https://facebook.com/" target="_blank">
              <img src="../assets/images/sponsors/facebook.png" />
            </a>
          </div>
          <div
            class="sixteen wide phone eight wide tablet four wide computer column"
          >
            <a href="https://www.drinkhint.com/" target="_blank">
              <img src="../assets/images/sponsors/hint.png" class="hint-logo" />
            </a>
          </div>
          <div
            class="sixteen wide phone eight wide tablet four wide computer column"
          >
            <a href="http://www.ti.com/" target="_blank">
              <img src="../assets/images/sponsors/texas-instrument.png" />
            </a>
          </div>
          <div
            class="sixteen wide phone eight wide tablet four wide computer column"
          >
            <a href="https://www.interviewcake.com/" target="_blank">
              <img src="../assets/images/sponsors/interview-cake.png" />
            </a>
          </div>
          <div
            class="sixteen wide phone eight wide tablet four wide computer column"
          >
            <a href="https://www.producthunt.com/" target="_blank">
              <img src="../assets/images/sponsors/producthunt.png" />
            </a>
          </div>
          <div
            class="sixteen wide phone eight wide tablet four wide computer column"
          >
            <a href="https://www.twilio.com/" target="_blank">
              <img src="../assets/images/sponsors/twilio-logo-red.png" />
            </a>
          </div>
          <div
            class="sixteen wide phone eight wide tablet four wide computer column"
          >
            <a href="https://www.raspberrypi.org/" target="_blank">
              <img src="../assets/images/sponsors/raspberry.png" />
            </a>
          </div>
          <div
            class="sixteen wide phone eight wide tablet four wide computer column"
          >
            <a href="https://cloud.google.com/" target="_blank">
              <img src="../assets/images/sponsors/gcp.png" />
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="footer">
    Questions? Please contact us at
    <a href="mailto:hackuci@gmail.com">hackuci@gmail.com</a>
  </div>
  
</div>