<div id="packs">
  <div class="title-section">
    <div class="inner-section">
      <img id="cloud3" class="cloud" src="../../assets//images/building-blocks/cloud3.png">
      <img id="cloud2" class="cloud" src="../../assets//images/building-blocks/cloud2.png">
      <img id="cloud1" class="cloud" src="../../assets//images/building-blocks/cloud1.png">

      <div class="packs-title"><div class="pack">STARTER PACKS</div></div>
      
    </div>
  </div>

  <div class="packs-subsection">
    <div class="packs-subtitle">Is this the Krusty Krab?</div>
    <div class="packs-text">No, this is Patrick.</div>
  </div>

  <div class="packs-subsection">
    <div class="packs-subtitle">Ravioli Ravioli</div>
    <div class="packs-text">Give me the Formuoli</div>
    <div class="packs-subtitle-subtitle">The Krusty Krab Pizza</div>
    <div class="packs-text">Is the Pizza</div>
    <div class="packs-text">for you and me.</div>
  </div>

  
</div>