<div id="packs">
  <div class="title-section">
    <div class="inner-section">
      <img id="cloud3" class="cloud" src="../../assets//images/building-blocks/cloud3.png">
      <img id="cloud2" class="cloud" src="../../assets//images/building-blocks/cloud2.png">
      <img id="cloud1" class="cloud" src="../../assets//images/building-blocks/cloud1.png">

      <div class="packs-title"><div class="pack">STARTER PACKS</div></div>
      
    </div>
  </div>

  <div class="packs-subsection">
    <div class="packs-subtitle">API Resources</div>
    <div class="packs-text">Application Programming Interface (API) are interfaces or communication protocol that simplifies implementation and maintenance of software. In order to access most API’s, many languages use HTTP protocol to communicate with the servers that host the API and retrieve data. </div>
    <br />

    <div class="packs-subtitle-subtitle">Spotify API</div>
    <div class="packs-text">API that retrieves data on Spotify music, playlists, artists, and users</div>
    <li class="packs-text"><a href="https://developer.spotify.com/documentation/web-api/reference/"> Spotify Web API Reference</a></li>
    <br />

    <div class="packs-subtitle-subtitle">Twitter API</div>
    <div class="packs-text">API that retrieves data on tweets and trends.</div>
    <li class="packs-text"><a href="https://developer.twitter.com/en/docs"> Twitter Web API Reference</a></li>
    <br />

    <div class="packs-subtitle-subtitle">Google Cloud API</div>
    <div class="packs-text">An API that allows users to access Google services such as storage access and machine-learning.</div>
    <li class="packs-text"><a href="https://cloud.google.com/apis/docs/overview"> Google Cloud API Reference</a></li>
    <br />

    <div class="packs-subtitle-subtitle">Yelp API</div>
    <div class="packs-text">Access data made available by Yelp on local businesses, such as reviews and contact information.</div>
    <li class="packs-text"><a href="https://www.yelp.com/developers/documentation/v3"> Yelp API Reference</a></li>
    <br />

    <div class="packs-subtitle-subtitle">Bentley's iModelJS API</div>
    <div class="packs-text">Use iModelJS to create Infrastructure Digital Twins, 3D digital representations. </div>
    <li class="packs-text"><a href="https://www.imodeljs.org/learning/"> iModelJS Reference</a></li>
    <br />
  </div>

  <div class="packs-subsection">
    <div class="packs-subtitle">Backend Framework Resources</div>
    <div class="packs-text">Backend frameworks are functional code skeletons that allows you to build custom REST APIs on your own server to store data, perform functions, and utilize templated tools.</div>
    <br />

    <div class="packs-subtitle-subtitle">Flask</div>
    <div class="packs-text">A quick lightweight backend framework in Python. Build a quick REST server and serve HTML/CSS frontend templates. Hello World is under 10 lines.</div>
    <li class="packs-text"><a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world"> Flask Tutorial</a></li>
    <li class="packs-text"><a href="http://flask.palletsprojects.com/en/1.1.x/">Flask Documentation</a></li>
    <li class="packs-text"><a href="https://github.com/anfederico/Flaskex"> Example Flask Project</a></li>
    <br />

    <div class="packs-subtitle-subtitle">Node.js + Express</div>
    <div class="packs-text">A lightweight backend framework in Node.js(JavaScript) similar to Flask. Works closely with the npm package installer..</div>
    <li class="packs-text"><a href="https://www.guru99.com/node-js-express.html"> Node.js Express Tutorial</a></li>
    <li class="packs-text"><a href="https://expressjs.com/"> Express Documentation</a></li>
    <li class="packs-text"><a href="https://nodejs.org/en/"> Node.js Documentation</a></li>

    <br />

    <div class="packs-subtitle-subtitle">Django</div>
    <div class="packs-text">All-purpose backend framework in Python included with a SQL database, a REST API, an admin panel, and unit tests. More complicated than Express and Flask, but works nicely if you plan on having larger long-term personal projects such as Spotify, Instagram, or YouTube.</div>
    <li class="packs-text"><a href="https://docs.djangoproject.com/en/3.0/intro/tutorial01/"> Django Reference and Tutorial</a></li>
    <li class="packs-text"><a href="https://www.django-rest-framework.org/"> Django Rest Framework Reference </a></li>
    <br />

    <div class="packs-subtitle-subtitle">Socket.io</div>
    <div class="packs-text">Socket based framework in JavaScript projects requiring live updates, such as messages or notifications. Requires Node.js and the npm package installer.</div>
    <li class="packs-text"><a href="https://socket.io/get-started/chat/"> Socket.io Reference and Tutorial</a></li>
    <li class="packs-text"><a href="https://nodejs.org/en/"> Node.js Reference and Tutorial</a></li>
    <li class="packs-text"><a href="https://github.com/socketio/socket.io/tree/master/examples"> Socket.io Sample Projects</a></li>
    <br />
  </div>


  <div>
    <div class="packs-subsection">
    <div class="packs-subtitle">Backend API Development and Deployment</div>
    <div class="packs-subtitle-subtitle">FlaskRESTful, MongoDB, Heroku</div>
    <div class="packs-text">For those interested in developing an API in python, look no further! This project includes sample code demonstrating how to build a simple todo list API with user authentication along with a thorough explanation of the code, how to test with Postman, and how to deploy to Heroku.</div>
    <li class="packs-text"><a href="https://github.com/zpinto/learn-flaskRESTful-dev-deployment"> Code </a></li>
    <br />
  </div>

  <div>
    <div class="packs-subsection">
    <div class="packs-subtitle">Frontend Framework Resources</div>
    <div class="packs-text">Frontend frameworks are packages containing design/style template code to beautify the client-facing side of your software.</div>
    <br />

    <div class="packs-subtitle-subtitle">ReactJS</div>
    <div class="packs-text">Those looking for a lightweight, JavaScript framework will be pleased when they lay their hands on ReactJS. ReactJS was developed by Facebook to make creating interactive UI’s painless. ReactJS’s component-based functionality allows you to easily pass rich data through your app. React Native is very similar but is for mobile development. </div>
    <li class="packs-text"><a href="https://reactjs.org/docs/getting-started.html"> React.js Documentation</a></li>
    <li class="packs-text"><a href="https://github.com/facebook/create-react-app">Simple React.js App</a></li>
    <li class="packs-text"><a href="https://reactjs.org/community/examples.html"> Example React.js Projects</a></li>
    <li class="packs-text"><a href="https://facebook.github.io/react-native/"> React Native Documentation</a></li>
    <br />

    <div class="packs-subtitle-subtitle">Bootstrap</div>
    <div class="packs-text">A CSS framework that helps make your website look nice without having to do CSS</div>
    <li class="packs-text"><a href="https://getbootstrap.com/docs/4.0/getting-started/"> Bootstrap Getting Started</a></li>
    <li class="packs-text"><a href="https://getbootstrap.com/docs/4.0/examples/ "> Bootstrap Examples</a></li>
    <li class="packs-text"><a href="https://startbootstrap.com/templates/"> HTML Templates using Bootstrap</a></li>

    <br />

    <div class="packs-subtitle-subtitle">Vue.js</div>
    <div class="packs-text">Vue.js is a view based JavaScript framework with an easier learning curve than ReactJS and Angular. Rather than using components and classes, it uses templating to populate variable data.</div>
    <li class="packs-text"><a href="https://vuejs.org/v2/guide/"> Vue.js Guide</a></li>
    <li class="packs-text"><a href="https://vuejsexamples.com/"> Example Vue.js projects</a></li>
    <br />

    <div class="packs-subtitle-subtitle">Miscellaneous tools </div>
    <li class="packs-text"><a href="https://cssgridgarden.com/"> Learn how to use CSS-grid</a></li>
    <li class="packs-text"><a href="https://codepen.io/pen/"> Develop small websites online with HTML/CSS and JavaScript</a></li>
    <br />
  </div>

  <div>
    <div class="packs-subsection">
    <div class="packs-subtitle">Developer Tool Resources</div>
    <div class="packs-text">Want to make your project development process easier? Try the following general tools below!</div>
    <br />

    <div class="packs-subtitle-subtitle">ngrok</div>
    <div class="packs-text">Generate a temporary public URL for your local backend. Easy backend deploying without having to use Heroku, AWS, or expensive cloud services.</div>
    <li class="packs-text"><a href="https://www.softwaretestinghelp.com/ngrok-introduction/"> ngrok Introduction </a></li>
    <li class="packs-text"><a href="https://ngrok.io">ngrok Documentation</a></li>
    <br />

    <div class="packs-subtitle-subtitle">Postman</div>
    <div class="packs-text">Simulate a frontend through interacting with your backend with REST requests. Extremely helpful for backend developers, to allow simultaneous testing and developing. </div>
    <li class="packs-text"><a href="https://www.guru99.com/postman-tutorial.html"> Postman Tutorial</a></li>
    <li class="packs-text"><a href="https://www.getpostman.com"> Postman Documentation</a></li>

    <br />

    <div class="packs-subtitle-subtitle">DevTools</div>
    <div class="packs-text">Debug web applications through Chrome’s built-in developer tools. Has all your frontend debugging needs with editing HTML/CSS in browser, finding JavaScript console errors, monitoring requests, or whatever your programs doing.</div>
    <li class="packs-text"><a href="https://developers.google.com/web/tools/chrome-devtools"> DevTools Reference</a></li>
    <li class="packs-text"><a href="https://egghead.io/browse/tools/chrome-devtools"> DevTools Tutorial</a></li>
    <br />

    <div class="packs-subtitle-subtitle">Linux Commands  </div>
    <div class="packs-text">Learn terminal commands to navigate your computer faster. Complete your hacker look with the black screen green text terminal while copy pasting random stuff that might delete everything on your computer.</div>
    <li class="packs-text"><a href="https://tutorials.ubuntu.com/tutorial/command-line-for-beginners"> Command Line Tutorial</a></li>
    <li class="packs-text"><a href="https://www.linuxtrainingacademy.com/linux-commands-cheat-sheet/"> Commands Cheat Sheet</a></li>
    <br />
  </div>

  <div>
    <div class="packs-subsection">
    <div class="packs-subtitle">Deployment Platform Resources</div>
    <div class="packs-text">After joining backend and frontend aspects of your project together – What’s next? Deploy it and show the world!</div>
    <br />

    <div class="packs-subtitle-subtitle">Google App Engine</div>
    <div class="packs-text">A cloud computing platform for developing and hosting web applications on Google data servers.</div>
    <li class="packs-text"><a href="https://cloud.google.com/appengine/docs/"> App Engine Documentation </a></li>
    <br />

    <div class="packs-subtitle-subtitle">Heroku</div>
    <div class="packs-text">Platform as a service (PaaS) that enables developers to develop and host web applications on the cloud. </div>
    <li class="packs-text"><a href="https://devcenter.heroku.com/"> Heroku Documentation</a></li>
    <br />

    <div class="packs-subtitle-subtitle">AWS CodeDeploy</div>
    <div class="packs-text">Deployment service that automates software deployments to Amazon servers or on-premise servers.</div>
    <li class="packs-text"><a href="https://docs.aws.amazon.com/codedeploy/"> AWS CodeDeploy</a></li>
    <br />
  </div>

  <div>
    <div class="packs-subsection">
    <div class="packs-subtitle">Game Development Resources</div>
    <div class="packs-text">Interested in game development? Try checking the following game development technology below!</div>
    <br />

    <div class="packs-subtitle-subtitle">Unity</div>
    <div class="packs-text">Unity is a free to use 3D development platform that doubles as a popular game engine. Unity offers a variety of tools including: a full 3D and 2D physics renderer, a flexible scripting to allow for various functionalities; as well as, a diverse asset store for both 3D and 2D games. Unity’s main scripting language is C# and includes many easy to use functions.</div>
    <li class="packs-text"><a href="https://unity.com"> Unity Website </a></li>
    <li class="packs-text"><a href="https://docs.unity3d.com/Manual/index.html"> Unity Documentation </a></li>
    <li class="packs-text"><a href="https://www.tutorialspoint.com/unity/unity_quick_guide.htm"> Tutorial </a></li>
    <li class="packs-text"><a href="https://assetstore.unity.com/templates?category=templates&price=0-0&orderBy=1"> Various Assets </a></li>
    <br />

    <div class="packs-subtitle-subtitle">GoDot</div>
    <div class="packs-text">Godot is a free, open-source game engine under the permissive MIT license. Godot offers a huge set of common tools such as: Nodes for all your needs, Flexible scene system, Visual editor, Friendly content creation pipeline, Persistent live editing, and the ability to create your own custom tools. This game-engine supports a variety of languages (C# 7.0, C++, python, Nim, etc.) as well as python-like scripting language called GDScript to create both 2D and 3D games.</div>
    <li class="packs-text"><a href="https://godotengine.org/"> Go Dot Website </a></li>
    <li class="packs-text"><a href="https://docs.godotengine.org/en/3.1/"> Go Dot Documentation </a></li>
    <li class="packs-text"><a href="https://docs.godotengine.org/en/3.1/getting_started/step_by_step/your_first_game.html"> Go Dot Tutorial </a></li>
    <br />

    <div class="packs-subtitle-subtitle">PyGame</div>
    <div class="packs-text">Those at UCI might be very familiar with this simple, game creating 3rd party python library. PyGame is a free, open source library that allows for an easy way to create 2D games through the use of Python.  </div>
    <li class="packs-text"><a href="https://www.pygame.org/wiki/GettingStarted"> PyGame Getting Started</a></li>
    <li class="packs-text"><a href="https://nerdparadise.com/programming/pygame/part1"> PyGame Tutorial</a></li>
    <br />

  </div>

  <div>
    <div class="packs-subsection">
    <div class="packs-subtitle">Git</div>
    

    <div class="packs-subtitle-subtitle">What is git and how does it work?</div>
    <div class="packs-text">If you want to learn and test your git skills, check out this tutorial! Here you will find a set of slides walking you through the basic git commands so that you can put them into practice with your hackathon team. If that is not enough, there are several links to additional resources.</div>
    <li class="packs-text"><a href="https://github.com/zpinto/learn-git-with-hack"> Learn Git with Hack </a></li>
    <br />

    <div class="packs-subtitle-subtitle">Git Cheat Sheet</div>
    <div class="packs-text">If you already know git and you just need a refresher, check out this cheat sheet.</div>
    <li class="packs-text"><a href="https://github.github.com/training-kit/downloads/github-git-cheat-sheet.pdf"> Cheat Sheet </a></li>
    <br />

    <div class="packs-subtitle-subtitle">Git Simple Guide</div>
    <div class="packs-text">If you are looking for something a bit more substantial on git, but not too long or confusing, check out the Git Simple Guide. It will walk you through all of the most commonly used git commands while giving you a short and sweet explanation of what each is and does.</div>
    <li class="packs-text"><a href="https://rogerdudler.github.io/git-guide/"> Git Guide </a></li>
    <br />
  </div>
</div>