<div id="expo" ng-class="{ 'fade-out': fadeOut }">
  <!-- <div id="bg-tint" ng-style="{ 'opacity' : tintOpacity }"></div> -->
  
  <div class="countdown-container">
    <img id="floating-robot" src="../../assets/images/time_robo.png"/>
    <div class="countdown-wrapper">
      <span class="countdown-segment">
        <span
          class="countdown countdown--bold"
          ng-style="{ 'opacity' : countdownOpacity }"
        >
          {{ hours }}
        </span>
        <span class="countdown" ng-style="{ 'opacity' : countdownOpacity }">
          Hours
        </span>
      </span>
      <span class="countdown-segment">
        <span
          class="countdown countdown--bold countdown--fixed"
          ng-style="{ 'opacity' : countdownOpacity }"
        >
          {{ minutes }}
        </span>
        <span class="countdown" ng-style="{ 'opacity' : countdownOpacity }">
          Min
        </span>
      </span>
      <span class="countdown-segment">
        <span
          class="countdown countdown--bold countdown--fixed"
          ng-style="{ 'opacity' : countdownOpacity }"
        >
          {{ seconds }}
        </span>
        <span class="countdown" ng-style="{ 'opacity' : countdownOpacity }">
          Sec
        </span>
      </span>
    </div>
  </div>

  <section id="schedule-container">
    <div class="schedule-box ui stackable three column grid">
      <div class="column">
        <div class="title">
          Woods Cove
        </div>
        <div class="schedule-list">
          <div class="schedule" ng-repeat="event in schedule.e2">
            <span class="schedule-title">
              {{ event.project }}
            </span>
            <span class="schedule-time">
              {{ event.table }}
            </span>
            <span class="schedule-location">
              <!-- {{ event.location }} -->
            </span>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="title">
          Moss Cove
        </div>
        <div class="schedule-list">
          <div class="schedule" ng-repeat="event in schedule.e1">
            <span class="schedule-title">
              {{ event.project }}
            </span>
            <span class="schedule-time">
              {{ event.table }}
            </span>
            <span class="schedule-location">
              <!-- {{ event.location }} -->
            </span>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="title">
          Pacific Ballroom
        </div>
        <div class="schedule-list">
          <div class="schedule" ng-repeat="event in schedule.e3">
            <span class="schedule-title">
              {{ event.project }}
            </span>
            <span class="schedule-time">
              {{ event.table }}
            </span>
            <span class="schedule-location">
              <!-- {{ event.location }} -->
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div style="height: 100px"></div>
</div>
