<div id="home">
  <section id="hero">
    <div class="hero-content center">
      <div ng-class="{ 'fade-out': fadeOut }" class="hero-container">
        <!-- <div class="logo-header-container ui grid computer tablet only center">
          <div class="logo-header center">
            <img src="../assets/images/desktop-hack-v-logo.png" />
          </div>
        </div> -->
        <div class="hero-content-information">
          <div class="information-logo">
            <img src="assets/images/robot-improved-shadow-kat.gif" alt="hack-robot" class="hero-logo">
            <img src="assets/images/robo.png" alt="hack-robot" class="hero-logo-mobile">
          </div>
          <div class="information-text">
              <div class="information-date title">
                <span>
                  January 31st - February 2nd
                </span>
              </div>
              <div class="information-title title">
                HACK<span>UCI</span>
              </div>
              <div class="information-title-year title">
                <span style="font-weight: 300">2020</span>
              </div>
              <div class="hero-button-container">
                <a ui-sref="app.apply" class="btn" ng-if="regIsOpen">
                  Apply
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <section id="info" class="center">
    <div id="info-content">
      <div class="headline"> 
        <span class="bold">500</span> Hackers. 
      </div>
      <div class="headline"> 
        <span class="bold">36</span> Hours. 
      </div>
      <div class="headline">
        <span class="bold">Unlimited</span> Potential.
      </div>
    </div>
    <div id="info-content">
      <span class="headline secondary">
        Create 
        <span>+</span> 
        Connect 
        <span>+</span>
        Inspire
      </span>
    </div>
    <div id="info-content">
      <div class="info-description">
        HackUCI 2019 was the most successful hackathon we have ever hosted. The event was held from February 15-17, 2019 at the University of California - Irvine and over 450 hackers participated and put together their time, energy, and skills to create innovative technology.
      </div>
      <div class="info-description">
        For HackUCI 2020, we plan to unite an even more diverse and talented group of developers to build the technology of tomorrow!
      </div>
    </div>
  </section>

  <section id="previous-winners">
    <div class="title">PAST WINNERS</div>
    <div id="previous-winners-content">
      <div id="winners">
        <a
          href="https://devpost.com/software/valerian"
          target="_blank"
          class="winner-card"
        >
          <div class="card-award-icon">
            <!--
              https://thenounproject.com/term/browser-education/588787 by Aybige, licensed under CC
            -->
            <!-- <img src="../assets/images/first-aid-kit.png"> -->
            <i class="fa fa-medkit prize-category-icon"></i>
          </div>
          <div class="card-award-title">BEST HEALTH AND WELLNESS HACK</div>
          <div class="card-name">Valerian</div>
        </a>
        <a
          href="https://devpost.com/software/emocean"
          target="_blank"
          class="winner-card"
        >
          <div class="card-award-icon">
            <!--
              https://thenounproject.com/term/network/764560 by Tinashe Mugayi, licensed under CC
            -->
            <!-- <img src="../assets/images/social.png"> -->
            <i class="fa fa-users prize-category-icon"></i>
          </div>
          <div class="card-award-title">HACKERS CHOICE/UI-UX</div>
          <div class="card-name">Emocean</div>
        </a>
        <a
          href="https://devpost.com/software/pet-portal"
          target="_blank"
          class="winner-card"
        >
          <div class="card-award-icon">
            <!--
              https://thenounproject.com/term/data-analyze/735734 by Deepz, licensed under CC
            -->
            <!-- <img src="../assets/images/api.png"> -->
            <i class="fa fa-cogs prize-category-icon"></i>
          </div>
          <div class="card-award-title">BEST USE OF SENDGRID API</div>
          <div class="card-name">Pet Portal</div>
        </a>
        <a
          href="https://devpost.com/software/mayhem-taxi-racing"
          target="_blank"
          class="winner-card"
        >
          <div class="card-award-icon">
            <!--
              https://thenounproject.com/term/network/764560 by Tinashe Mugayi, licensed under CC
            -->
            <!-- <img src="../assets/images/social.png"> -->
            <i class="fa fa-gamepad prize-category-icon"></i>
          </div>
          <div class="card-award-title">MOST POLISHED GAME</div>
          <div class="card-name">Mayhem Taxi Racing</div>
        </a>
        <a
          href="https://devpost.com/software/mark"
          target="_blank"
          class="winner-card"
        >
          <div class="card-award-icon">
            <!--
              https://thenounproject.com/term/volunteers/642224 by MRFA, licensed under CC
            -->
            <!-- <img src="../assets/images/volunteers.png"> -->
            <i class="fa fa-star prize-category-icon"></i>
          </div>
          <div class="card-award-title">MOST POLISHED DEVPOST</div>
          <div class="card-name">mARK</div>
        </a>
        <a
          href="https://devpost.com/software/alacarte"
          target="_blank"
          class="winner-card"
        >
          <div class="card-award-icon">
            <!--
              https://thenounproject.com/term/volunteers/642224 by MRFA, licensed under CC
            -->
            <!-- <img src="../assets/images/volunteers.png"> -->
            <i class="fa fa-wifi prize-category-icon"></i>
          </div>
          <div class="card-award-title">BEST HACK WITH .TECH DOMAIN</div>
          <div class="card-name">Alacar.tech</div>
        </a>
        <a
          href="https://devpost.com/software/safeline-9eqyxs"
          target="_blank"
          class="winner-card"
        >
          <div class="card-award-icon">
            <!--
              https://thenounproject.com/term/volunteers/642224 by MRFA, licensed under CC
            -->
            <i class="fa fa-lightbulb prize-category-icon"></i>
          </div>
          <div class="card-award-title">BEST ENTREPRENEURIAL HACK</div>
          <div class="card-name">SafeLine</div>
        </a>
        <a
          href="https://devpost.com/software/listen"
          target="_blank"
          class="winner-card"
        >
          <div class="card-award-icon">
            <!--
              https://thenounproject.com/term/volunteers/642224 by MRFA, licensed under CC
            -->
            <!-- <img src="../assets/images/volunteers.png"> -->
            <i class="fa fa-trophy prize-category-icon"></i>
          </div>
          <div class="card-award-title">BEST OVERALL HACK</div>
          <div class="card-name">Listen</div>
        </a>
        <a
          href="https://devpost.com"
          target="_blank"
          class="winner-card"
        >
          <div class="card-award-icon">
            <!--
              https://thenounproject.com/term/volunteers/642224 by MRFA, licensed under CC
            -->
            <!-- <img src="../assets/images/volunteers.png"> -->
            <i class="fa fa-thumbs-up prize-category-icon"></i>
          </div>
          <div class="card-award-title">BEST JOKE HACK</div>
          <div class="card-name">HackUWU</div>
          <div class="card-name">CrapMaps</div>
        </a>
        <a
          href="https://devpost.com/software/drivealert"
          target="_blank"
          class="winner-card"
        >
          <div class="card-award-icon">
            <!--
              https://thenounproject.com/term/volunteers/642224 by MRFA, licensed under CC
            -->
            <!-- <img src="../assets/images/volunteers.png"> -->
            <i class="fa fa-bolt prize-category-icon"></i>
          </div>
          <div class="card-award-title">BEST USE OF EMBEDDED SYSTEMS</div>
          <div class="card-name">DriveAlert</div>
        </a>
        <a
          href="https://devpost.com"
          target="_blank"
          class="winner-card"
        >
          <div class="card-award-icon">
            <!--
              https://thenounproject.com/term/volunteers/642224 by MRFA, licensed under CC
            -->
            <!-- <img src="../assets/images/volunteers.png"> -->
            <i class="fa fa-book prize-category-icon"></i>
          </div>
          <div class="card-award-title">BEST EDUCATION-FOCUSED HACK</div>
          <div class="card-name">Peter Spell Master</div>
          <div class="card-name">Code Climbers</div>
        </a>
        <a
          href="https://devpost.com/software/job-buddy-doyvrt"
          target="_blank"
          class="winner-card"
        >
          <div class="card-award-icon">
            <!--
              https://thenounproject.com/term/volunteers/642224 by MRFA, licensed under CC
            -->
            <!-- <img src="../assets/images/volunteers.png"> -->
            <i class="fa fa-laptop prize-category-icon"></i>
          </div>
          <div class="card-award-title">BEST MOBILE/WEB HACK</div>
          <div class="card-name">Job Buddy</div>
        </a>
        <a
          href="https://devpost.com/software/codingboard"
          target="_blank"
          class="winner-card"
        >
          <div class="card-award-icon">
            <!--
              https://thenounproject.com/term/volunteers/642224 by MRFA, licensed under CC
            -->
            <!-- <img src="../assets/images/volunteers.png"> -->
            <i class="fa fa-server prize-category-icon"></i>
          </div>
          <div class="card-award-title">BEST GCP HACK</div>
          <div class="card-name">Coding Board</div>
        </a>
      </div>
      <div id="previous-winners-trophy">
        <img src="./../../assets/images/trophy.png"/>
      </div>
    </div>
  </section>

  <section id="faq" class="center">
    <div id="faq-content">
      <div class="title">FAQ</div>
      <div class="faq-list ui stackable two column grid">
        <div class="column">
          <div class="faq-card">
            <div class="faq-card-title">What is a hackathon?</div>
            <div class="faq-card-description">
              A hackathon is a place where the only thing limiting what you
              build is your own creativity - we'll provide the rest. Stay up for
              36 hours with the smartest people you'll ever meet, building the
              coolest things you have created, and chugging more of your
              favorite energy drink than you ever thought possible.
            </div>
          </div>
          <div class="faq-card">
            <div class="faq-card-title">Who can come?</div>
            <div class="faq-card-description">
              Any undergraduate or graduate students over the age of 18.
            </div>
          </div>
          <div class="faq-card">
            <div class="faq-card-title">What should I bring?</div>
            <div class="faq-card-description">
              Yourself, deodorant, an idea, a photo ID, your hacking setup, a
              change of clothes, toiletries, and optionally a sleeping bag
              (pillow and/or blanket). Note: There will be no showers at the
              event.
            </div>
          </div>
          <div class="faq-card">
            <div class="faq-card-title">
              Do I sign up as a team or individual?
            </div>
            <div class="faq-card-description">
              You will apply as an individual. We will be personally reviewing
              each application and accepting on an individual basis.
            </div>
          </div>
          <div class="faq-card">
            <div class="faq-card-title">What should I create?</div>
            <div class="faq-card-description">
              You can build whatever you can dream of, whether that be a website
              with an amazing feature, a phone app, or a rad piece of hardware
              (Soldering is NOT allowed)! Our only rule is that all code must be
              written during the hackathon itself. Feel free to use open source
              libraries and APIs; companies attending may provide their own as
              well. Impress us!
            </div>
          </div>
        </div>
        <div class="column">
          <div class="faq-card">
            <div class="faq-card-title">
              When will application decisions be released?
            </div>
            <div class="faq-card-description">
              The first wave of acceptances will be released no later than
              Monday of the upcoming week.
            </div>
          </div>
          <div class="faq-card">
            <div class="faq-card-title">
              How will transportation work this year?
            </div>
            <div class="faq-card-description">
              We will be providing reimbursements for students traveling from
              other campuses. We will try to accommodate such that visiting
              students can attend at no cost; however, conditions will apply.
              Reimbursements will be fulfilled the weeks after the event to
              admitted non-UCI students.
            </div>
          </div>
          <div class="faq-card">
            <div class="faq-card-title">
              Are there sponsors, swag, and food?
            </div>
            <div class="faq-card-description">Of course! Get hyped!</div>
          </div>
          <div class="faq-card">
            <div class="faq-card-title">
              How will team formations work for admitted students?
            </div>
            <div class="faq-card-description">
              We will be helping with team formations during the beginning of
              the event and creating a Slack channel for team matching. Teams
              can be up to a maximum of 4 people.
            </div>
          </div>
          <div class="faq-card">
            <div class="faq-card-title">
              What if I have no prior experience in programming, coding, or
              hackathons?
            </div>
            <div class="faq-card-description">
              We don’t expect hackers to have any prior experience. We will be
              providing starter packs and workshops to help new hackers get
              started on projects and learn new technologies.
            </div>
          </div>
          <div class="faq-card">
            <div class="faq-card-title">
              Am I allowed to come with a project pre-built or will I be
              building the project from scratch?
            </div>
            <div class="faq-card-description">
              You will be building projects from scratch, although we will be
              offering starter packs to help you get started if you are a
              beginner hacker. You are encouraged to come with ideas of what you
              want to build.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sponsors" class="center">
    <img src="assets/images/mini-robo.png" alt="mini-robo" class="sponsor-mini-robo">
    <div id="sponsors-content">
      <div class="title">SPONSORS</div>
      <div id="sponsors-list" class="ui grid box-shadow">
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <a href="https://www.ics.uci.edu/" target="_blank">
            <img src="../assets/images/sponsors/ucibren.png" />
          </a>
        </div>
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <a href="https://sendgrid.com/" target="_blank">
            <img src="../assets/images/sponsors/sendgrid.png" />
          </a>
        </div>
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <a href="http://www.northropgrumman.com/" target="_blank">
            <img src="../assets/images/sponsors/northrop.png" />
          </a>
        </div>
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <a href="https://github.com/" target="_blank">
            <img src="../assets/images/sponsors/github.png" />
          </a>
        </div>
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <a href="https://surcle.io/" target="_blank">
            <img src="../assets/images/sponsors/surcle.png" />
          </a>
        </div>
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <a href="https://www.gigabyte.com/" target="_blank">
            <img src="../assets/images/sponsors/gigabyte.png" />
          </a>
        </div>
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <a href="https://github.com/ArdentLabs" target="_blank">
            <img src="../assets/images/sponsors/ardent.png" />
          </a>
        </div>
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <a href="https://www.microsoft.com/en-us/" target="_blank">
            <img src="../assets/images/sponsors/microsoft.png" />
          </a>
        </div>
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <a href="https://www.sketchapp.com/" target="_blank">
            <img src="../assets/images/sponsors/sketch.png" />
          </a>
        </div>
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <a
            href="https://www.stickermule.com/supports/hackathons"
            target="_blank"
          >
            <img src="../assets/images/sponsors/stickermule.png" />
          </a>
        </div>
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <a href="https://get.tech/" target="_blank">
            <img src="../assets/images/sponsors/tech.png" />
          </a>
        </div>
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <a href="https://facebook.com/" target="_blank">
            <img src="../assets/images/sponsors/facebook.png" />
          </a>
        </div>
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <a href="https://www.drinkhint.com/" target="_blank">
            <img src="../assets/images/sponsors/hint.png" class="hint-logo" />
          </a>
        </div>
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <a href="http://www.ti.com/" target="_blank">
            <img src="../assets/images/sponsors/texas-instrument.png" />
          </a>
        </div>
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <a href="https://www.interviewcake.com/" target="_blank">
            <img src="../assets/images/sponsors/interview-cake.png" />
          </a>
        </div>
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <a href="https://www.producthunt.com/" target="_blank">
            <img src="../assets/images/sponsors/producthunt.png" />
          </a>
        </div>
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <a href="https://www.twilio.com/" target="_blank">
            <img src="../assets/images/sponsors/twilio-logo-red.png" />
          </a>
        </div>
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <a href="https://www.raspberrypi.org/" target="_blank">
            <img src="../assets/images/sponsors/raspberry.png" />
          </a>
        </div>
        <div
          class="sixteen wide phone eight wide tablet four wide computer column"
        >
          <a href="https://cloud.google.com/" target="_blank">
            <img src="../assets/images/sponsors/gcp.png" />
          </a>
        </div>
      </div>
    </div>
  </section>

  <img src="../assets/images/button.png" class="footer-robot"/>

  <section id="footer" class="center">
    <div id="footer-content">
      <a href="mailto:HackUCI@gmail.com"
        ><i class="fa fa-envelope" aria-hidden="true"></i
      ></a>
      <a href="https://www.facebook.com/hackUCIrvine"
        ><i class="fab fa-facebook" aria-hidden="true"></i
      ></a>
      <a href="https://www.instagram.com/hackatuci/"
        ><i class="fab fa-instagram" aria-hidden="true"></i
      ></a>
    </div>
  </section>
</div>
