#login {
  height: calc(100% + 100px);
  width: 100%;
  background-image: linear-gradient(#91dfe1, #cca2ff);
  background-size: cover;
  background-position: center center;

  &::before {
    content: "";
    background-image: linear-gradient(#91dfe1, #cca2ff);
    animation: fadeout 0.8s ease-in 0.5s forwards;
    opacity: 1;
    width: 100%;
    height: calc(100% + 100px);
    position: absolute;
  }

  > .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    > .content {
      max-width: 320px;
      margin: 0 auto;

      .logo-header-container {
        height: 125px;
        margin-top: 0;
        margin-bottom: 5%;
        animation: fadein 0.5s both;
        animation-delay: 0.15s;
      }

      .logo-header {
        height: 125px;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        transition: all 0.2s ease;
      }

      .logo-cog {
        animation: spin 12s linear infinite;
      }

      .logo-header > img {
        height: 100%;
      }

      .ui.small.error.message {
        box-shadow: none;
        margin-top: 0;
      }

      .segment {
        border-radius: 15px;
        padding: 1.5em 1.75em;
        border: none;
        margin: 0;
        background: #ffffff;
        animation: fadein 0.5s both;
        animation-delay: 0.2s;
      }

      .ui.login-password .field:nth-child(1) {
        animation: fadein 0.5s both;
        animation-delay: 0.3s;
      }

      .ui.login-password .field:nth-child(2) {
        animation: fadein 0.5s both;
        animation-delay: 0.35s;
      }

      .ui.login-password .field:nth-child(3) {
        animation: fadein 0.5s both;
        animation-delay: 0.4s;
      }

      .ui:not(.login-password) .field {
        animation: fadein 0.5s both;
        animation-delay: 0.45s;
      }

      .ui.form .field > label {
        font-weight: 300;
        font-size: 0.8em;
        letter-spacing: 0.07em;
      }

      .ui.form input[type="email"],
      .ui.form input[type="password"] {
        padding: 0 0 .5em;
        border-style: solid;
        border-width: 0 0 .1em 0;
        border-color: #827cdf;
        border-radius: 0;
      }

      .ui.form input[type="email"]:focus,
      .ui.form input[type="password"]:focus {
        border-style: solid;
        border-width: 0 0 .1em 0;
        border-color: #9a96e3;
        border-radius: 0;
      }

      .label-text {
        color: #827cdf;
      }

      .button {
        color: #ffffff;
        font-weight: 300;
        font-size: 0.95em;
        letter-spacing: 0.07em;
        border-radius: 25px;
        box-shadow: 0 2px 16px rgba(24, 51, 59, 0.2);
        transition: background 0.2s ease;

        &.login {
          background: #827cdf;
        }

        &.login:hover {
          background: #9a96e3; // not sure about hover colors
        }

        &.register {
          background: #cca2ff;
        }

        &.register:hover {
          background: #d5b3ff;
        }
      }

      .forgot {
        text-align: center;
        font-weight: 300;
        font-size: 0.8em;
        letter-spacing: 0.07em;
        animation: fadein 0.5s both;
        animation-delay: 0.5s;
        color: #827cdf;

        #forget-password {
          color: #827cdf;
        }
      }

      #login-or-register {
        color: #827cdf;
      }
    }

    .break {
      margin-bottom: 1.25em;
    }

    .cube {
      position: relative;
      width: 100%;
      
      .login-cube-container {
        position: absolute;
        top: -2.5em;
        width: 100%;
        text-align: center;
        z-index: -1;

        .login-cube {
          width: 100%;
        }
      }
    }
  }

  /* Mobile */
  @media (max-width: 767px) {
    > .reset-container {
      top: 40%;
    }

    > .container>.content .segment {
      margin: 5%;
    }

    > .container .cube .login-cube-container {
      top: -4em;
    }

    > .container .cube .login-cube-container .login-cube {
      width: 95%;
    }
  }
}
