#sponsor {
  background: linear-gradient(#91dfe1, #cca2ff);
  font-family: "Catamaran Bold", sans-serif;

  .title-section {
    height: 100vh;
    position: relative;

    .inner-section {
      width: 80%;
      text-align: center;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .sponsor-title {
        color: #FFFFFF;
        font-size: 3em;
        font-family: "Catamaran Bold", sans-serif;
        display: inline;
        font-weight: normal;
        letter-spacing: 1.5px;

        .sponsor {
          margin-top: .5em;
        }
      }
  
      .sponsor-btn {
        margin-top: .5em;
        display: inline-block;
        background-color: #827CDF;
        color: #FFFFFF;
        box-shadow: inset 0px 0px 0px 2px #827cdf;
        padding: .5em 1em;
        border-radius: 25px;
        transition: all 0.2s ease;
        font-family: "Catamaran Bold", sans-serif;
        font-size: 1.2em;
      }

      .sponsor-btn:hover {
        box-shadow: inset 0px 0px 0px 2px #ffffff;
        cursor: pointer;
      }
    }    

    .stats {
      width: 10%;

      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      .robot {
        width: 100%;
      }
    }
  }
}